
channel = "stable-24_05"

modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[deployment]
deploymentTarget = "cloudrun"
build = ["npm ci", "npm run build"]
run = "npm start"
ignorePorts = false

[[ports]]
localPort = 5000

[env]
NODE_ENV = "production"
PORT = "5000"
HOST = "0.0.0.0"

[nix]
channel = "stable-24_05"
