
run = "npm run dev"
hidden = [".config", "package-lock.json"]
entrypoint = "server/index.ts"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["npm", "ci", "npm", "run", "build"]
run = ["npm", "start"]
ignorePorts = false

[[ports]]
localPort = 5000
externalPort = 80

[env]
NODE_ENV = "production"
HOST = "0.0.0.0"
